<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bank</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    
    <!--<form>
        <div class="divlog">
            <h1>Login</h1>
        <input type="text" name="email" placeholder="Seu Codigo...">
        <input type="password" name="password" placeholder="Sua Senha...">
        <input type="submit" class="Login" nome="acao" value="Fazer login">
        <input type="submit" class="Cadastro" nome="acao" value="Fazer Cadastro">
        </div>

        <div class="divcad">
            
        </div>
    </form>-->

    <form action="" class="MainForm">

        <form action="" class="LoginForm">
            <div></div>
        </form>

        <form action="" class="CadForm">
            <div></div>
        </form>

    </form>

</body>
</html>